	<div class="sw-focus idTabs">
		<div id="sw-tab1" class="focus-box">
			<div class="focus-item">
				<h3 class="f1">今日好问题</h3>
				<ul class="focus-item-body">
					<li>
						<div class="avatar"><img src="http://ask.seowhy.com/uploads/topic/20130319/7e2981b35c6c530082fd652731c3fc21_50_50.jpg" /></div>
						<div class="info"><a href="/" target="_blank">2013年8月22日“谍报” 之 索引下降</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/25/48_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank">一个所有Seoer都应该深思的问题！</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/03/91_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank">seo在整个运营过程中发挥什么作用？</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/21/69_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank">从没有被收录的博客或QQ空间获取的文章是否被搜索引擎作为原创内容？</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/25/64_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank">同一网站百度收录比谷歌收录相差太远！</a></div>
					</li>
				</ul>
			</div>
			<div class="focus-item">
				<h3 class="f2">等您神回复</h3>
				<ul class="focus-item-body">
					<li>
						<div class="avatar"><a href="/o" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/14/24_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank">百度的长尾关键字突然消失，什么原因造成的？</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/23/67_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank" rel="nofollow">360最近动作挺多 出来个推广诈骗全赔计划 专门针对百度弱点来！</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/08/94_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank" rel="nofollow">苏宁、阿里洽购PPTV，你怎么看？</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/10/19_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank" rel="nofollow">求助：网站日志中存在js记录，不知是抓取还是解析？</a></div>
					</li>
					<li>
						<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/avatar/000/00/05/78_avatar_mid.jpg" /></a></div>
						<div class="info"><a href="/" target="_blank" rel="nofollow">“微信”和“易信”的争夺战！</a></div>
					</li>
				</ul>
			</div>
			<div class="focus-item-pic">
				<h3 class="f3">今日好话题</h3>
				<div class="avatar"><a href="/" target="_blank"><img src="http://ask.seowhy.com/uploads/topic/20130722/268155cbe697a90bd24fc965425315b3_100_100.jpg" />头脑风暴</a></div>
				<p>在创业的起步、发展，或带领团队协同合作的过程，经常会碰到各类瓶颈。我们通过阅读书籍、参加聚会、报名课程、请教高人等渠道求解。这里，我们给互联网营销从业者提供一个全新的方式：通过搜外问答的头脑风暴活动来获得启发和帮助。<a href="http://ask.seowhy.com/topic/tounaofengbao">进入话题 >></a></p>
				<p><a href="/" target="_blank" rel="nofollow"><i>给项目巴巴用户的一封信！</i></a></p>
			</div>
		</div>
		<div id="sw-tab2" class="focus-box-subject">
			<div class="focus-box-subject-bd">
				<h3 class="f3">专题推荐</h3>
				<div class="subject-list clearfix">
					<a href="http://i.xiangmubaba.com/feature/huodong"><img src="http://i.xiangmubaba.com/imgs/b1.jpg" /></a>
					<a href="http://i.xiangmubaba.com/topic/%E8%B0%8B%E7%95%A5"><img src="http://i.xiangmubaba.com/imgs/b2.jpg" /></a>
					<a href="http://i.xiangmubaba.com/topic/%E6%A1%88%E4%BE%8B%E5%88%86%E6%9E%90"><img src="http://i.xiangmubaba.com/imgs/b3.jpg" /></a>
					<a href="http://i.xiangmubaba.com/topic/%E5%A4%B4%E8%84%91%E9%A3%8E%E6%9A%B4"><img src="http://i.xiangmubaba.com/imgs/b4.jpg" /></a>
					<a href="http://i.xiangmubaba.com/topic/%E5%AE%9E%E9%AA%8C%E5%AE%A4"><img src="http://i.xiangmubaba.com/imgs/b5.jpg" /></a>
				</div>
			</div>
		</div>
		
		<ul class="sw-focus-ft">
			<li><a href="#sw-tab1" class="selected">精选与话题</a></li>
			<li><a href="#sw-tab2">专题与活动</a></li>
		</ul>
	</div>
	 
	<script type="text/javascript"> 
	  $(".sw-focus").idTabs("!mouseover"); 
	</script>