<?php if (sizeof($this->feature_list) > 0) { ?>
<div class="aw-side-bar-mod" style="border-bottom:none;">
	<style>
		.sw-anli{width:215px;position:relative;}
		.sw-anli h3{height:35px;line-height:35px;color:#fff;background:url(/static/css/seowhy/img/anli-title.png) 0 0 repeat-x;padding-left: 10px;}
		.sw-anli ul{padding:5px 15px;border: 1px solid #ddd;border-top: none;}
	</style>
	<div class="sw-anli">
		<h3>案例分析专题</h3>
		<ul>
			<li><a href="/" target="_blank">第九期：韩都衣舍</a></li>
			<li><a href="/" target="_blank">第八期：合亚眼镜</a></li>
			<li><a href="/" target="_blank">第七期：放心医苑网</a></li>
			<li><a href="/" target="_blank">第六期：土巴兔</a></li>
			<li><a href="/" target="_blank">第五期：德智教育网</a></li>
			<li><a href="/" target="_blank">第四期：淘鞋网</a></li>
			<li><a href="/" target="_blank">第三期：万表网</a></li>
			<li><a href="/" target="_blank">第二期：澳康达名车广场</a></li>
			<li><a href="/" target="_blank">第一期：珍品网</a></li>
		</ul>
	</div>
</div>
<?php } ?>