<!--页脚_s-->
<div class="SW_footer">

	<div class="ft layout clearfix">
		<div class="slogan"><a href="/"></a></div>
		<div class="ft_item">
			<h4 class="a1">关于我们</h4>
			<ul>
				<li><a href="/" target="_blank" rel="nofollow">搜外介绍</a></li>
				<li><a href="/" target="_blank" rel="nofollow">联系我们</a></li>
				<li><a href="/" target="_blank" rel="nofollow">用户协议</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a2">服务指南</h4>
			<ul>
				<li><a href="/" target="_blank" rel="nofollow">参加项目培训</a></li>
				<li><a href="/" target="_blank" rel="nofollow">项目求职与招聘</a></li>
				<li><a href="/" target="_blank">加盟顾问</a></li>
				<li><a href="/" target="_blank">加盟申请</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a3">关注我们</h4>
			<ul>
				<li><a href="http://weibo.com/319993533" target="_blank" rel="nofollow">微博关注</a></li>
				<li><a href="http://www.seowhy.com/weixin/" target="_blank" rel="nofollow">微信关注</a></li>
				<li><a href="http://list.qq.com/cgi-bin/qf_invite?id=7a6fc17070e85cc3e43b3f084e06aa4f1ad99252ff4cee66" target="_blank" rel="nofollow">邮件订阅</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a4">常用链接</h4>
			<ul>
				<li><a href="/" target="_blank" rel="nofollow">帮助中心</a></li>
				<li><a href="/" target="_blank" rel="nofollow">教研室</a></li>
				<li><a href="/" target="_blank" rel="nofollow">SEO诊断</a></li>
				<li><a href="/" target="_blank" rel="nofollow">SEO博客大全</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a5">微信关注</h4>
			<a href="/" target="_blank" rel="nofollow"><img src="/static/css/seowhy/img/weixinQR.png"></a>
		</div>
	</div>
	<div class="cp"> 宿迁市项目巴巴信息咨询有限公司 版权所有 | 粤ICP备08003897号 | 粤公网安备4403601900640号</div>
</div>

<a href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});" class="aw-back-top"><i class="aw-btn b-go-to-top"></i></a>

<?php echo get_setting('statistic_code'); ?>

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box">
	<!-- <ul class="aw-publish-dropdown hide"></ul> -->
</div>

<div style="display:none;" id="__crond">
	<script type="text/javascript">
		$(document).ready(function () {
			$('#__crond').html(unescape('%3Cimg%20src%3D%22' + G_BASE_URL + '/crond/run/<?php echo time(); ?>%22%20width%3D%221%22%20height%3D%221%22%20/%3E'));
		});

	</script>
</div>

<?php TPL::output('global/debuger.tpl.htm'); ?>

<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
<!-- / DO NOT REMOVE -->
</body>
</html>