<div class="aw-side-bar-mod ">
<div class="aw-mod-body clearfix">
			<?php if ($this->user_id) { ?>
			<div class="aw-publish-btn pull-left">
				<a id="header_publish"<?php if (get_setting('quick_publish') == 'Y' AND $this->user_id) { ?>href="publish/"<?php } else { ?>href="publish/<?php if ($_GET['category']) { ?>category_id-<?php echo intval($_GET['category']); ?>__<?php } ?><?php if ($this->topic_info) { ?>topic_title-<?php echo urlencode($this->topic_info['topic_title']); ?>__<?php } ?>"<?php } ?> class="<?php if ($_GET['app'] == 'publish') { ?> active<?php } ?>"<?php if (get_setting('quick_publish') == 'Y' && $this->user_id) { ?> onclick="$.dialog('publish', {'category_enable':'<?php echo (get_setting('category_enable') == 'Y') ? '1' : '0'; ?>', 'category_id':'<?php echo intval($_GET['category']); ?>', 'topic_title':'<?php echo $this->topic_info['topic_title']; ?>'}); return false;"<?php } ?>><i class="fa fa-edit"></i><?php _e('发起'); ?></a>

			</div>

			<?php }?>
			<div class="rb-feed pull-right ">
					<a href="<?php echo get_js_url('/feed/'); ?>" target="blank"><i class="fa fa-rss-square"></i> RSS Feed</a>
			</div>
		</div>
</div>
