<?php TPL::output('global/header.tpl.htm'); ?>

<div class="aw-container-wrap">
	<div class="aw-container aw-wecenter">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 aw-global-tips">
					<?php if ($this->redirect_message) { ?>
					<?php foreach ($this->redirect_message AS $key => $message) { ?>
					<div class="alert alert-warning fade in">
						<?php echo $message; ?>
					</div>
					<?php } ?>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row aw-content-wrap">
				<div class="col-sm-12 col-md-9 aw-main-content">
					<div class="aw-mod ba-title aw-question-detail-title">
						<?php if ($this->user_id) { ?>
						<a class="btn btn-success btn-mini pull-right aw-invite-replay">邀请回复</a>
						<?php } ?>

						<h2 class="hidden-xs"><?php _e('问题详情'); ?></h2>
						<!-- 站内邀请 -->
						<div class="aw-invite-box hide">
							<div class="aw-mod-head clearfix">
								<div class="search-box pull-left">
									<input id="invite-input" class="form-control" type="text"  placeholder="<?php _e('搜索你想邀请的人...'); ?>"/>
									<div class="aw-dropdown">
										<i class="aw-icon i-dropdown-triangle"></i>
										<p class="title"><?php _e('没有找到相关结果'); ?></p>
										<ul class="aw-dropdown-list"></ul>
									</div>
									<i class="fa fa-search"></i>
								</div>
								<div class="invite-list pull-left<?php if (!$this->invite_users) { ?> hide<?php } ?>">
									<?php _e('已邀请'); ?>:
									<?php if ($this->invite_users) { ?>
									<?php foreach($this->invite_users as $key => $val) { ?>
										<a class="aw-text-color-999 invite-list-user" data-id="<?php echo $val['uid']; ?>" href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>" data-original-title="<?php echo $val['user_name']; ?>" data-placement="right" data-toggle="tooltip"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" /></a>
									<?php } ?>
									<?php } ?>
								</div>
							</div>
							<?php if ($this->helpful_users) { ?>
							<div class="aw-mod-body clearfix">
								<ul>
									<?php foreach ($this->helpful_users AS $key => $val) { ?>
										<li>
											<a class="aw-user-img pull-left" data-id="<?php echo $val['user_info']['uid']; ?>" href="people/<?php echo $val['user_info']['url_token']; ?>"><img class="img" alt="" src="<?php echo get_avatar_url($val['user_info']['uid'], 'mid'); ?>" /></a>
											<div class="main">
												<?php if ($val['has_invite']) { ?>
													<a class="pull-right btn btn-normal btn-default" data-value="<?php echo $val['user_info']['user_name']; ?>" data-id="<?php echo $val['user_info']['uid']; ?>" onclick="disinvite_user($(this))"><?php _e('取消邀请'); ?></a>
												<?php } else { ?>
													<a class="pull-right btn btn-normal btn-default aw-active" data-value="<?php echo $val['user_info']['user_name']; ?>" data-id="<?php echo $val['user_info']['uid']; ?>" onclick="invite_user($(this),$(this).parents('li').find('img').attr('src'));"><?php _e('邀请'); ?></a>
												<?php } ?>

												<a class="aw-user-name" data-id="<?php echo $val['user_info']['uid']; ?>" href="people/<?php echo $val['user_info']['url_token']; ?>"><?php echo $val['user_info']['user_name']; ?><?php if ($val['user_info']['verified']) { ?><i class="icon-v<?php if ($val['user_info']['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($val['user_info']['verified'] == 'enterprise') { ?>企业认证<?php } else { ?>个人认证<?php } ?>"></i><?php } ?></a>

												<p>
													<?php _e('在 %s 话题下', '<a class="aw-topic-name" data-id="' . $val['experience']['topic_info']['topic_id'] . '" href="topic/' . $val['experience']['topic_info']['url_token'] . '"><span class="aw-hide-txt">' . $val['experience']['topic_info']['topic_title'] . '</span></a>'); ?> <?php _e('获得 %s 个赞同', $val['experience']['agree_count']); ?>
												</p>
											</div>
										</li>
									<?php } ?>
								</ul>
							</div>
							<div class="aw-mod-footer">
								<a class="prev active"><?php _e('上一页'); ?></a> &nbsp; <a class="next"><?php _e('下一页'); ?></a>
							</div>
							<?php } ?>
							<i class="i-dropdown-triangle"></i>
						</div>
						<!-- end 站内邀请 -->
					</div>
					<div class="aw-mod aw-mod-private-replay-list">
						<ul>
							<li class="active">
								<a class="aw-user-img aw-border-radius-5 pull-right" href="people/<?php echo $this->question_info['user_info']['user_name']; ?>" data-id="<?php echo $this->question_info['user_info']['uid']; ?>"><img class alt="<?php echo $this->question_info['user_info']['user_name']; ?>" src="<?php echo get_avatar_url($this->question_info['published_uid'], 'mid'); ?>" /></a>
								<div class="aw-item">
									<p>
										<a class="aw-user-name" href="people/<?php echo $this->question_info['user_info']['url_token']; ?>" data-id="<?php echo $this->question_info['user_info']['uid']; ?>"><?php echo $this->question_info['user_info']['user_name'];?></a>: <?php echo $this->question_info['question_detail']; ?>
										<?php if ($this->question_info['attachs']) {  ?>
										<div class="aw-comment-upload-img-list">
										<?php foreach ($this->question_info['attachs'] AS $attach) { ?>
										<?php if ($attach['is_image'] AND !in_array($attach['id'], $this->question_info['attachs_ids'])) { ?>
											<a href="<?php echo $attach['attachment']; ?>" target="_blank" data-fancybox-group="thumb" rel="lightbox"><img src="<?php echo $attach['attachment']; ?>" class="img-polaroid" alt="<?php echo $attach['attach_name']; ?>" /></a>
										<?php } ?>
										<?php } ?>
										
										<?php if ($this->question_info['attachs']) {  ?>
										<ul class="aw-comment-upload-file-list">
											<?php foreach ($this->question_info['attachs'] AS $attach) { ?>
											<?php if (!$attach['is_image'] AND !in_array($attach['id'], $this->question_info['attachs_ids'])) { ?>
												<li><a href="<?php echo download_url($attach['file_name'], $attach['attachment']); ?>"><i class="fa fa-paperclip"></i> <?php echo $attach['file_name']; ?></a></li>
											<?php } ?>
											<?php } ?>
										</ul>
										<?php } ?>
										</div>
										<?php } ?>
									</p>
									<p class="aw-text-color-999">
										<?php echo date_friendly($this->question_info['add_time']); ?>
									</p>
									<i class="i-private-replay-triangle"></i>
								</div>
							</li>
							<?php if ($this->answers) { foreach ($this->answers AS $key => $val) { ?>
							<li<?php if ($val['uid'] == $this->question_info['user_info']['uid']) { ?> class="active"<?php } ?>>
								<a class="anchor" name="answer_<?php echo $val['answer_id']; ?>"></a>
								<?php if ($val['anonymous'] == 0) { ?><a class="aw-user-img aw-border-radius-5 pull-right" href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><img src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" alt="" /></a><?php } else { ?><a class="aw-user-img aw-border-radius-5 pull-right" href="javascript:;"><img src="<?php echo G_STATIC_URL; ?>/common/avatar-mid-img.png" alt="<?php _e('匿名用户'); ?>" /></a><?php } ?>
								<div class="aw-item">
									<p>
										<?php if ($val['anonymous'] == 0) { ?>
											<a class="aw-user-name" href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>"><?php echo $val['user_name']; ?></a>
										<?php } else { ?>
											<a class="aw-user-name" href="javascript:;"><?php _e('匿名用户'); ?></a>
										<?php } ?>:
										
										<?php echo $val['answer_content']; ?>
										
										<?php if ($val['attachs']) {  ?>
										<div class="aw-comment-upload-img-list">
										<?php foreach ($val['attachs'] AS $attach) { ?>
										<?php if ($attach['is_image'] AND !in_array($attach['id'], $val['insert_attach_ids'])) { ?>
											<a href="<?php echo $attach['attachment']; ?>" target="_blank" data-fancybox-group="thumb" rel="lightbox"><img src="<?php echo $attach['attachment']; ?>" class="img-polaroid" alt="<?php echo $attach['attach_name']; ?>" /></a>
										<?php } ?>
										<?php } ?>
										</div>
										<?php } ?>
										
										<?php if ($val['attachs']) {  ?>
										<ul class="aw-comment-upload-file-list">
											<?php foreach ($val['attachs'] AS $attach) { ?>
											<?php if (!$attach['is_image'] AND !in_array($attach['id'], $val['insert_attach_ids'])) { ?>
												<li><a href="<?php echo download_url($attach['file_name'], $attach['attachment']); ?>"><em class="fa fa-paperclip"></em><?php echo $attach['file_name']; ?></a></li>
											<?php } ?>
											<?php } ?>
										</ul>
										<?php } ?>
									</p>
									<p class="aw-text-color-999">
										<span class="pull-right aw-replay"><a onclick="$.scrollTo(($('#recipient_form').offset()['top']) - 20, 600, {queue:true});" href="javascript:;">回复</a></span>											<?php echo date_friendly($val['add_time']); ?>
									</p>
									<i class="i-private-replay-triangle"></i>
								</div>
							</li>
							<?php } ?>
							<?php } ?>
						</ul>
					</div>
					<div class="aw-mod">
						<!-- 问题内容输入框　-->
						<div class="aw-mod aw-mod-private-replay-box">
						<form action="question/ajax/save_answer/" method="post" id="recipient_form">
				        	<input type="hidden" name="post_hash" value="<?php echo new_post_hash(); ?>" />
				        	<input type="hidden" name="question_id" value="<?php echo $this->question_info['question_id']; ?>" />
							<a href="people/<?php echo $this->user_info['url_token']; ?>" data-id="<?php echo $this->user_info['uid']; ?>" class="aw-user-img aw-border-radius-5"><img src="<?php echo get_avatar_url($this->user_info['uid'], 'mid'); ?>" alt="" /></a>
							<textarea rows="3" class="form-control" placeholder="<?php _e('想要对ta说点什么'); ?>?" type="text" name="answer_content" /></textarea>
							<p>
								<a class="btn btn-mini btn-success" href="javascript:;" onclick="ajax_post($('#recipient_form'));"><?php _e('发送'); ?></a>
							</p>
						</form>
						</div>
						<!-- end 问题内容输入框 -->
					</div>

				</div>
				<!-- 侧边栏 -->
				<div class="col-md-3 aw-side-bar hidden-xs hidden-sm">
					<?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?>
					<?php TPL::output('block/sidebar_daily_add.tpl.htm'); ?>
				</div>
				<!-- end 侧边栏 -->
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	ATTACH_ACCESS_KEY = '<?php echo $this->attach_access_key; ?>';
	ITEM_IDS = '<?php echo addslashes($_GET['item_id']); ?>';
	COMMENT_UNFOLD = '<?php echo addslashes($_GET['comment_unfold']); ?>';

	QUESTION_ID = <?php echo $this->question_info['question_id'];?>;
	UNINTERESTED_COUNT = <?php echo get_setting('uninterested_fold'); ?>;
</script>

<script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/app/question_detail.js"></script>

<?php TPL::output('global/footer.tpl.htm'); ?>